{{ ansible_managed | comment }}

{% for disk in snapraid_data_disks %}
data {{ disk.name | default(disk.path | basename) }} {{ disk.path }}
{% endfor %}

{% for disk in snapraid_parity_disks %}
{% set prefix = '%d-' % loop.index if loop.index > 1 else '' %}
{{ prefix }}parity {{ disk.path }}/snapraid.{{ prefix }}parity
{% endfor %}

{% for file in snapraid_content_files %}
content {{ file }}
{% endfor %}

{% if snapraid_exclude_hidden | bool %}
nohidden
{% endif %}
{% for exclude in snapraid_excludes %}
exclude {{ exclude }}
{% endfor %}

{% if snapraid_blocksize is defined %}
blocksize {{ snapraid_blocksize }}
{% endif %}

{% if snapraid_hashsize is defined %}
hashsize {{ snapraid_hashsize }}
{% endif %}

{% if snapraid_autosave is defined %}
autosave {{ snapraid_autosave }}
{% endif %}

#pool /pool

#smartctl d1 -d sat %s
#smartctl d2 -d usbjmicron %s
#smartctl parity -d areca,1/1 /dev/sg0
#smartctl 2-parity -d areca,2/1 /dev/sg0
